body {
  background-color: #151937;
}
.text-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, red, yellow);
}
.btn-gradient {
  background-image: linear-gradient(to right, #ff275b, #ff7df2);
}
